@page
@model RazorPageMoviee.Pages.Movies.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Moviee</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Moviee.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Moviee.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Moviee.RealseDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Moviee.RealseDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Moviee.Genre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Moviee.Genre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Moviee.price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Moviee.price)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Moviee?.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
